<!-- Создание основного блока -->
#block_body 
{
    width: 1050px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
}
<!-- Создание верхнего блока -->
#block_header
{
    width: 1050px;
    height: 200px;
    border: 1px solid blueviolet;
    margin: 0 auto;
}

<!-- Создание первой фотографии с товаром -->
#block_image
{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    float: left;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
     background: url(/images/thumb.jpg);
}



<!-- Создание логотипа -->
#block_logotyp
{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 500px;
}


<!-- Создание кнопки Вход -->
#block_login a.login
{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin-right:10px;
        padding-right:25px; 
        margin-top: -55px ;
    float: right;
    text-decoration: none;
}

<!-- Создание блока меню -->
#block_menu 
{
    width: 1048px;
    height: 50px;
    border: 1px solid black;
    margin-top: 52px;
}

<!-- Установка шрифта и место положения для навигации в меню -->
#block_menu li
 {
    font: 20px sans-serif;
    float: left;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 20px;
 }
 <!-- Установка цвета для блока меню -->
 #block_menu a
    {
    font: 20px sans-serif;
    color: cadetblue;
    text-decoration: none;
    }
    
    
     <!-- Установка цвета для блока меню -->
 #block_menu a:hover
    {
    font: 20px sans-serif;
    color: red;
    text-decoration: none;
    }
    
    <!-- Создание третьей фотографии с товаром -->
#block_image1
{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    float: right;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
    background: url(/images/thumb.jpg);
}

<!-- Создание второй фотографии с товаром -->
#block_image2
{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
     background: url(/images/thumb.jpg);
}

<!-- Создание четвертой фотографии с товаром -->
#block_image3
{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    float: left;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
     background: url(/images/thumb.jpg);
}

<!-- Создание шестой фотографии с товаром -->
#block_image4
{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    float: right;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
     background: url(/images/thumb.jpg);
}

<!-- Создание пятой фотографии с товаром -->
#block_image5
{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
     background: url(/images/thumb.jpg);
}

<!-- Создание восьмой фотографии с товаром -->
#block_image7
{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    float: left;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
     background: url(/images/thumb.jpg);
}

<!-- Создание десятой фотографии с товаром -->
#block_image8
{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    float: right;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
     background: url(/images/thumb.jpg);
}

<!-- Создание девятой фотографии с товаром -->
#block_image9
{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
     background: url(/images/thumb.jpg);
}

<!-- Создание седьмой фотографии с товаром -->
#block_image6
{
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
     background: url(/images/thumb.jpg);

}


<!-- Создание нижнего блока -->
#block_footer
{
    width: 1050px;
    height: 400px;
    margin-top: 10px;
    border: 1px solid black;
}
