<!-- Создание основного блока -->
#block_body 
{
    width: 1050px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
}
<!-- Создание верхнего блока -->
#block_header
{
    width: 1050px;
    height: 200px;
    margin: 0 auto;
}

<!-- Создание блока для кнопок вход регистрация -->
#block_top 
{
        width: 1050px;
    height: 40px;
    margin: 0 auto;
}

<!-- Расположение кнопки вход и регистрация -->
#block_login 
{
    margin-right:10px;
        margin-top: 15px ;
            float: right;
}

<!-- Создание кнопки Вход -->
#block_login a.login
{
    padding-right:10px; 
        padding-left: 2px;
    text-decoration: none;
}

<!--  Изменение цвета кнопки при наведении на нее  -->
#block_login a.login:hover
{
    font: 15px sans-serif;
color: green;
text-decoration: none;
cursor: pointer;
}

<!-- Создание кнопки регистрация -->
#block_login a
{
    font: 15px sans-serif;
    color: black;
    text-decoration: none;
}

<!-- Создание кнопки регистрация при наведении на нее -->
#block_login a:hover
{
    color: red;
}

<!-- Создание логотипа -->
#logotip
{
    width: 200px;
    height: 70px;
    margin-top: 5px;
    margin-left: 400px;
     position: absolute;
}

<!-- Создание блока меню -->
#block_menu 
{
    width: 1048px;
    height: 50px;
    margin-top: 110px;  
}

<!-- Установка шрифта и место положения для навигации в меню -->
#block_menu li
 {
    font: 20px sans-serif;
    float: left;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 20px;
 }
 <!-- Установка цвета для блока меню -->
 #block_menu a
    {
    font: 20px sans-serif;
    color: cadetblue;
    text-decoration: none;
    }
    
    
     <!-- Установка цвета для блока меню при наведении  -->
 #block_menu a:hover
    {
    font: 20px sans-serif;
    color: red;
    text-decoration: none;
    }
       <!-- Добавление кнопки поиск  -->
    #block_search 
    {
        margin-top: 5px;
        margin-left: 750px;
        
    }
    
           <!-- Изменение текстового поля кнопки поиск -->
    #block_search input#input_search
    {
        width: 200px;
        height: 20px;
    }
    
    
     <!-- Изменение кнопки поиск -->
    #button_search
    {
        width: 70px;
        height: 27px;
    }

<!-- Создание первой фотографии с товаром -->
#block_image
{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
     background: url(/images/thumb.jpg);
}

    <!-- Изменение первой фотографии при  наведении -->
#block_image:hover
{
    background: url(/images/1172850.jpg);
}

<!-- Создание второй фотографии с товаром -->
#block_image2
{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    margin-left: 400px;
    margin-top: 10px;
     background: url(/images/1172850.jpg);

}
    <!-- Изменение второй фотографии при  наведении -->
#block_image2:hover
{
    background: url(/images/1172850.jpg);
}
    
    <!-- Создание третьей фотографии с товаром -->
#block_image1
{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background: url(/images/nike-air-huarache-run-se-852628-301-31.jpg);
}

    <!-- Изменение третьей фотографии при  наведении -->
#block_image1:hover
{
    background: url(/images/1172850.jpg);
}

<!-- Создание четвертой фотографии с товаром -->
#block_image3
{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
     background: url(/images/nike-air-huarache-run-ultra-br-olive-green-1.jpg);
}

    <!-- Изменение четвертой фотографии при  наведении -->
#block_image3:hover
{
    background: url(/images/1172850.jpg);
}

<!-- Создание пятой фотографии с товаром -->
#block_image5
{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 400px;
     background: url(/images/youth-2017-18-josh-jackson-suns-20-icon-purple-swingman-jersey.jpg);
}

    <!-- Изменение пятой фотографии при  наведении -->
#block_image5:hover
{
    background: url(/images/1172850.jpg);
}

<!-- Создание шестой фотографии с товаром -->
#block_image4
{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
     background: url(/images/nike-air-zoom-300x300.jpg);
}

    <!-- Изменение шестой фотографии при  наведении -->
#block_image4:hover
{
    background: url(/images/1172850.jpg);
}

<!-- Создание седьмой фотографии с товаром -->
#block_image6
{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding-right: 28px;
     background: url(/images/thumb.jpg);

}

    <!-- Изменение седьмой фотографии при  наведении -->
#block_image6:hover
{
    background: url(/images/1172850.jpg);
}


<!-- Создание восьмой фотографии с товаром -->
#block_image7
{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
     background: url(/images/th_jordan-ultra-fly.jpg);
}

    <!-- Изменение восьмой фотографии при  наведении -->
#block_image7:hover
{
    background: url(/images/1172850.jpg);
}

<!-- Создание девятой фотографии с товаром -->
#block_image9
{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    margin-left: 400px;
    margin-top: 10px;
     background: url(/images/nike-wmns-air-huarache-carbon-green.jpg);
}

    <!-- Изменение девятой фотографии при  наведении -->
#block_image9:hover
{
    background: url(/images/1172850.jpg);
}

<!-- Создание десятой фотографии с товаром -->
#block_image8
{
    width: 250px;
    height: 400px;
    margin: 0 auto;
    float: right;
    margin-top: 10px;
margin-right: 10px;
     background: url(/images/Мужчины-Баскетбол-Обувь-2016-Super-Cool-Высокие-Баскетбольные-Кроссовки-Мужские-Размер-Обуви-11-Кожа-Корзина-Homme.jpg_220x220.jpg);
}

    <!-- Изменение десятой фотографии при  наведении -->
#block_image8:hover
{
    background: url(/images/1172850.jpg);
}

<!-- Создание нижнего блока -->
#block_footer
{
    width: 1050px;
    height: 400px;
    margin-top: 10px;
    border: 1px solid black;
}

<!-- Создание блока о нас -->
#block_information li
{
    font: 15px sans-serif;
    margin-top: 5px;
}

<!-- Создание блока о нас -->
#block_information a
{
    font: 15px sans-serif;
    color: blue;
    text-decoration: none;
}

<!-- Изменение при наведении блока о нас -->
#block_information a:hover
{
    color: red;
}